{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!
{% endblock %}

{% block body %}
	<style>
		.container-form {
			max-width: 500px;
			width: 100%;
			margin: 60px auto;
			background: #0000001c;
			padding: 14px;
			border-radius: 4px;
		}
	</style>
	<div class="container-form">
		<h1 class="m-auto text-center">
			Créer une catégorie
		</h1>
		<div class="example-wrapper">

			{{ form_start(categoryForm) }}

			{{ form_row(categoryForm.Name) }}

			{{ form_end(categoryForm) }}
		</div>
	</div>

{% endblock %}
