{% extends 'base.html.twig' %}

{% block title %}SubjectsInMyMind!
{% endblock %}

{% block body %}

	<div class="container-form">
		<h1 class="m-auto">
			Add Subject
		</h1>
		<div class="example-wrapper">

			{{ form_start(subjectForm) }}
			{{ form_end(subjectForm) }}
		</div>
	</div>
{% endblock %}
