{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!
{% endblock %}

{% block body %}
	<div class="container-form">
		<h1 class="m-auto">
			Créer un board
		</h1>
		<div class="example-wrapper">

			{{ form_start(messageForm) }}


			{{ form_end(messageForm) }}
		</div>
	</div>
{% endblock %}
